__pycache__
config
data

# venv
/bin
/venv
/include
/lib
/lib64
/pyvenv.cfg
/share
/Scripts

# pyenv
.python-version

# tailwind - downloaded binaries
app/static/css/tailwindcss
app/static/css/daisyui.mjs
app/static/css/daisyui-theme.mjs
tw/tailwindcss
tw/daisyui.mjs
tw/daisyui-theme.mjs

# tailwind build output
app/static/dist

.claude
games